.home-container{
    margin-top:30px;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.home-header-container{
  width: 100%;
  position: fixed;
  height: 70px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  
}
.home-search-filter-container{
  width: 100%;
  height: 100px;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-search-container{
  width:80%;
  height: 50px;
  position: relative;
  /* background-color: blue; */
}
.home-search-input{
  /* background-color:#EEEEEE; */
  background-color: #ffffff;
  width:100%;
  height:50px;
  border:none;
  border-radius: 50px;
  text-indent: 50px;
  line-height: 1.5em;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.home-search-input:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.home-search-input:focus{
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: box-shadow 0.3s ease-in-out;
}
.home-search-btn{
  position: absolute;
  width: 70px;
  height: 40px;
  background-color:#646B73 ;
  color: #ffffff;
  text-align: center;
  align-content: center;
  border-radius: 20px;
  font-weight: 600;
  top: 5px;
  right: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.home-search-btn:hover{
  background-color: #0A0E29;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.home-filter-container{
  width:80%;
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  /* background-color: blue; */
}
.home-filter{
  width: auto;
  height: 30px;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-right: 10px;
  position: relative;
}
.home-filter:hover{
  cursor:pointer ;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: box-shadow 0.3s ease-in-out;
}
.home-filter-focus{
  color: #ffffff;
  background-color: #0A0E29;
  /* transition: transform 0.3s ease; */
 
}
.home-filter-detail-point{
  height: 13px;
  width: auto;
  /* background-color: aquamarine; */
  font-size: 13px;
  color: #0A0E29;
  position: absolute;
  top:100%;
  left: 50%;
  transform: translate(-50%,0);
}
.home-filter-detail-container{
  height: 50px;
  width: auto;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #0A0E29;
  font-size: 13px;
  color: #0A0E29;
  position: absolute;
  top:43px;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;

}
.home-filter-detail-item{
  white-space: nowrap;
  width: auto;
  /* padding: auto; */
  height: auto;
  /* background-color: #ffffff; */
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-right: 10px;
  position: relative;
}







.home-laptops-container{
    width: 90%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px ;
    margin-bottom:50px ;
}
.home-laptop{
    width: 240px;
    height: 440px;
    background-color: #ffffff;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.home-laptop:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out ;
}
.home-laptop-img{
  width: 220px;
  height: 150px;
  background-color: #ffffff;
}
.home-laptop-profile{
  width: 220px;
  height: 250px;
  background-color:  #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-laptop-profile-name{
  display: -webkit-box;           /* Sử dụng Flexbox */
  -webkit-box-orient: vertical;   /* Định hướng dọc */
  overflow: hidden;               /* Ẩn phần văn bản tràn */
  -webkit-line-clamp: 3;          /* Giới hạn 2 dòng */
  text-overflow: ellipsis;        /* Thêm dấu "..." */
  max-height: 4.5em;                /* Giới hạn chiều cao */
  line-height: 1.5em; 
  font-size: 16px;
  font-weight: 600;
}

.home-navigate-container{
    
}


.home-paginate-button {
    margin: 0 5px;
    padding: 5px 10px;
  }
  
  /* CSS cho button active */
  .home-paginate-button.active {
    font-weight: bold;
  }
  
  /* CSS cho button disabled */
  .home-paginate-button:disabled {
    opacity: 0.5;
  }
  .active{
    background-color: rgb(190, 190, 192);
  }