.page{

    /* background-color: antiquewhite; */
    width: 100vw;
    height: auto;
    position: relative;
    top: 0px;
    min-height: 1000px;
}
.product-detail-header-container{
    width: 100%;
    position: fixed;
    height: 70px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.product-detail-body-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

