.page{

    /* background-color: antiquewhite; */
    width: 100vw;
    height: auto;
    position: relative;
    top: 0px;
    min-height: 1000px;
}
.product-detail-header-container{
    width: 100%;
    position: sticky;
    height: 70px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.product-detail-body-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-detail-body-view-container{
    /* width: 80%; */
    height: 600px;
    width: 1200px;
    background-color: #ffffff;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.product-detail-view-img-container{
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.product-detail-view-slider-arrows{
    position: absolute;
    width: 25px;
    height: 40px;
    background-color: rgb(170, 170, 173);
    align-content: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
}
.product-detail-view-slider-arrows:hover{
    cursor: pointer;
    opacity: 1;
}
.arrow-left{
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.arrow-right{
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.slide-shows-active-img{
    border: 2px solid #0A0E29;
}
.slide-shows-img{
    width:90px;
    height:90px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius:10px;
}
.slide-shows-img:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition:  box-shadow 0.3s ease-in-out;
}

.product-detail-view-name{
    width: 700px;
    height: 100%;
    background-color: #ffffff;
    color: #757575;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    padding-left: 50px;
}
.btn-buy-now{
    margin-left: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #EE4D2D;
    color: #ffffff;
    border-radius: 5px;
    outline: 1px solid #EE4D2D;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.btn-buy-now:hover{
    background-color: #f86e52;
    cursor: pointer;
}
.btn-add-to-cart{
    margin-left: 50px;
    text-align: center;
    align-content: center;
    width: 200px;
    height: 50px;
    background-color: #FFEEE8;
    color: #EE4D2D;
    border-radius: 5px;
    outline: 1px solid #EE4D2D;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.btn-add-to-cart:hover{
    background-color: #e6dad5;
    cursor: pointer;
}
.product-detail-body-profile-container{
    height: autos;
    width: 1200px;
    min-width: 1150px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-detail-item{
    display:flex;
    flex-direction:row;
    margin: 15px 15px 15px 50px;
}
.profile-detail-item-title{
    color:#9999BA;
    width:150px;
    height:auto;
    align-content:center;
    min-height:30px;
    overflow-wrap:break-word;
}
.product-detail-body-title{
    font-size: 20px;
    font-weight: 600;
    width: 500px;
    height: 50px;
    align-content: center;
    margin-left: 20px;
}







.product-detail-body-description-container{
    height: 200px;
    width: 1200px;
    min-width: 1150px;
    background-color: #ffffff;
    margin-top: 20px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
}
.product-detail-body-feedback-container{
    height: auto;
    width: 1200px;
    min-width: 1150px;
    background-color: #ffffff;
    margin-top: 20px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}






.product-detail-footer-container{
    margin-top: 20px;
    position:relative;
    width:100%;
    bottom: 0;
    min-width:1300px;
}
.incre:hover{
    background-color: #d01818;
}

.btn-disable{
    background-color:rgb(170, 170, 173);
    pointer-events: none;
}

.btn-feedback{
    margin: 20px 0 20px 50px;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #4bdf78;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.btn-feedback:hover{
    cursor: pointer;
    background-color: #42c569;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    transition:  box-shadow 0.3s ease-in-out;
}